.App {
  text-align: center;
}

.App-logo {
  height: 40vmin; /* Responsive logo size */
  pointer-events: none; /* Prevent interactions with the logo */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
      animation: App-logo-spin infinite 20s linear; /* Logo spinning animation */
  }
}

.App-header {
  background-color: #282c34; /* Dark background color */
  min-height: 100vh; /* Full viewport height */
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  font-size: calc(10px + 2vmin); /* Responsive font size */
  color: white; /* White text color */
}

.App-link {
  color: #61dafb; /* Link color */
  text-decoration: none; /* Ensure links are not underlined by default */
}

.App-link:hover {
  text-decoration: underline; /* Add a hover effect for links */
}

@keyframes App-logo-spin {
  from {
      transform: rotate(0deg); /* Start rotation from 0 degrees */
  }
  to {
      transform: rotate(360deg); /* Complete a full rotation */
  }
}

/* Additional Responsive Styles */
@media (max-width: 768px) {
  .App-header {
      font-size: calc(8px + 2vmin); /* Adjust font size for smaller screens */
  }
}

